table {
  border-collapse: collapse;
}

td,
th {
  padding: 0.25em;
  border: 1px solid black;
}

th {
  font-weight: 700;
  background-color: #ffc670;
}

.buttons {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

button {
  padding: 0px 20px;
  position: relative;
  display: block;
  margin-top: 10px;
  height: 40px;
  border: solid 1px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

#sheetjsexport:hover {
  color: white;
  background-color: #1D6F42;
  border: solid 1px;
}

.switch {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.switch button {
  width: 130px;
}

.switch button:disabled {
  background-color: #e6b265;
  cursor: default;
}

.switch>button:first-child {
  margin-right: 5px;
}


tfoot>tr>td {
  background-color: #fff9f1;
  text-align: center;
}

tfoot>tr>td>a:hover {
  font-weight: bold;

}